/* Position and sizing of burger button */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #606468;
}

/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
    background: #eee;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */

.bm-menu {
    background: #2c3338;
    font-family: 'Roboto', sans-serif;
}

.bm-menu a {
    text-decoration: none;
    color: #eee;
}

/* Hiding the scrollbar */
.bm-menu::-webkit-scrollbar{
    display: none;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
    /* padding: 0.8em; */
}

/* Individual item */

.bm-item {
    color: #eee;
    background-color: #3b4148;
    align-items: center;
}

.bm-item :hover {
    background-color: #c70909;
} 

.menu-item {
    border-bottom: 1px solid #606468;
}

.sub-menu-item {
    border-bottom: 1px solid #606468;
    padding-left: 10%;
}

.menu-item > img, .sub-menu-item > img {
    padding: 11px;
    max-width: 22px;
    max-height: 22px;
    border-radius: 3px 0px 0px 3px;
    vertical-align: middle;
}

.menu-item > h5, .sub-menu-item > h5 {
    vertical-align: middle;
    display: inline;
    letter-spacing: 1px;
}

.menuSeparatorDiv {
    display: block;
    min-height: 1px;
    max-height: 1px;
    background: #606468;
}

/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

/* Menu logo div */

.menuLogoDiv{
    background-color: #2c3338;
}

.menuLogoDiv > img {
    display: block;
    max-width: 280px;
    max-height: 170px;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: auto;
	margin-right: auto;
}

.menuLogoDiv :hover {
    background-color: #2c3338;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Roboto/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../../assets/fonts/Roboto/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/Roboto/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/Roboto/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/Roboto/roboto-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Roboto/roboto-v19-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }