/* General settings */

body {
    background-color: #2c3338;
    margin: 0px;
}

input {
    border: none;
    display: block;
    background-color: #3b4148;
    color: #606468;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    display: block;
    background-color: #3b4148;
    color: #606468;
    font-size: 14px;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    padding-left: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
    border-color: grey;
}

span {
    display: block;
    text-align: left;
    color: #eee;
    font-style: italic;
}

button {
    border-width: 2px 0px 0px 2px;
    border-radius: 3px;
    color: #eee;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 1em;
    width: 70%;
}

/* New Question div */

.newQuestionDiv {
    position: absolute;
    width: 100%;
    height:100%;
    margin: 0%;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    color: #606468;
}

/* Subject div */

.subjectDiv {
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    text-align: center;
}

.subjectDiv > label {
    display: block;
    text-align: left;
    color: #eee;
    font-weight: 900;
}

/* Topic div */

.topicDiv {
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    text-align: center;
}

.topicDiv > label {
    display: block;
    text-align: left;
    color: #eee;
    font-weight: 900;
}

/* Question div */

.questionDiv {
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    text-align: center;
}

.questionDiv > label {
    display: block;
    text-align: left;
    color: #eee;
    font-weight: 900;
}

/* Answer div */

.answerDiv {
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    text-align: center;
}

.ulContainer > .liAnswerAndCheckbox {
    color: white;
}

.ulContainer > .liButton {
    list-style-type: none;
}

.answerAndCheckboxDiv {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.answerAndCheckboxDiv > * {
    flex-grow: 1;
    flex-basis: auto;
}

.textareaDiv textarea{
    resize: vertical;
}

.checkboxDiv {
    margin: 0px;
    background-color: orange;
    max-width: 6%;
    min-width: 6%;
    padding-top: 13px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 0px 3px 3px 0px;
}

.checkboxDiv input[type=checkbox]{

    /* background-color: #363b41; */
    transform: scale(1.5);
    margin: 0px;
    vertical-align: middle;
}

.checkboxDiv input[type=checkbox]:checked{
    background-color: red;
}

/* Explanation div */

.explanationDiv {
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    text-align: center;
}

.explanationDiv > label {
    display: block;
    text-align: left;
    color: #eee;
    font-weight: 900;
}

/* Button submit div */

.buttonSubmitDiv {
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    text-align: center;
}

/* Submit button */

.submitButton {
    background-color: #04a347;
    border-color: #04a347;
    border-width: 2px 0px 0px 2px;
    border-radius: 3px;
    color: #eee;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 1em;
    width: 70%;
}

.submitButton:hover {
    background-color: #02923e;
}
















/* Login div */

.loginDiv {
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    text-align: center;
}

/* Username div */

.usernameDiv {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}

.usernameDiv > * {
    flex-grow: 1;
    flex-basis: auto;
}

.usernameDiv>img {
    padding: 11px;
    max-width: 11px;
    max-height: 11px;
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
}

.usernameDiv input {
    height: 33px;
    padding: 0 10px;
    border-radius: 0px 3px 3px 0px;
}

/* Password div */

.passwordDiv {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}

.passwordDiv > * {
    flex-grow: 1;
    flex-basis: auto;
}

.passwordDiv>img {
    padding: 11px;
    max-width: 11px;
    max-height: 11px;
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
}

.passwordDiv input {
    height: 33px;
    padding: 0 10px;
    border-radius: 0px 3px 3px 0px;
}

/* Login button */

.loginButton {
    background-color: #ea4c4c;
    border-color: #ea4c4c;
    border-width: 2px 0px 0px 2px;
    border-radius: 3px;
    color: #eee;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 1em;
    width: 70%;
}

.loginButton:hover {
    background-color: #d44141;
}

/* Footer div */

.footerDiv {
    display: flex;
    justify-content: center;
}

.footerDiv>img {
    display: flex;
    align-items: center;
    padding: 2px;
    max-width: 11px;
    max-height: 11px;
}

.footerDiv>.notMemberLabel {
    padding-right: 5px;
}

.footerDiv>.signUpLabel {
    color: #eee;
}

.footerDiv>.signUpLabel:hover {
    text-decoration: underline;
}

/* Responsive */

@media screen and (max-width: 480px) {
    
    .logoDiv>img {
         margin-top: 30%;
    }

    .loginDiv {
        margin-top: 20%;
        margin-left: 10%;
        margin-right: 10%;
    }
}