/* .shadow-container {
    background-color: white;
    border: 1px solid #f6f6f6;
  }

.shadow-container_customizedHeight {
    background-color: white;
    border: 1px solid #f6f6f6;
    box-shadow: 0.3rem 0 0.3rem 0.1rem rgba(0, 0, 0, 0.14);
    height: 540px;
  }
  

.table-responsive .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fbfbfb;
  }
  
.table-responsive .table {
    margin-bottom: 0;
  }
  
.table-radius,
.table-responsive {
  border-radius: 8px;
}

.table-radius {
  width: auto;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
}

.table-responsive .table thead th {
    border-bottom: 0;
    padding: 27px 15px;
    vertical-align: middle;
    color: #33404a;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 17px;
  }
  
.table-responsive .table td,
.table-responsive .table th {
    border-top: 1px solid #f6f6f6;
    vertical-align: middle;
  }
  
.table-responsive .table tr {
    box-shadow: 0 7px 5px -5px rgba(0, 0, 0, .06);
    font-family: 'Catamaran', sans-serif;
  }
   */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th{
      background-color: #8d1010;
  }

th, td {
    text-align: left;
    padding: 16px;
  }

tr:nth-child(even) {
    background-color: #f2f2f2
  }

.table-container{
    overflow-x:auto
  }